body {
    color: #333;
}
.nav-link, .nav-link:hover {
    color: #333;
}
.popover.error-alert {
    font-size: 12px;
    color: #FFF;
    background-color: #C04848;
    border: none;
}
.bs-popover-auto[x-placement^=top] .arrow::after, .bs-popover-top .arrow::after {
    border-top-color: #C04848;
}
.bs-popover-auto[x-placement^=right] .arrow::after, .bs-popover-right .arrow::after {
    border-right-color: #C04848;
}
.bs-popover-auto[x-placement^=bottom] .arrow::after, .bs-popover-bottom .arrow::after {
    border-bottom-color: #C04848;
}
.bs-popover-auto[x-placement^=left] .arrow::after, .bs-popover-left .arrow::after {
    border-left-color: #C04848;
}
.popover-body {
    color: #fff;
}
.pad-5-10 {
  padding: 5px 10px !important;
}
.absolute {
  position: absolute;
}